
@*<form class="navbar-form" role="search" action="@Url.Action("TraCuuTheoTen","HangHoa")" method="get">
    <div class="input-group">
        <input type="text" name="Ten" class="form-control" placeholder="Nhập tên hàng cần tìm">
        <span class="input-group-btn">

            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

        </span>
    </div>
</form>*@

@using (Html.BeginForm("TraCuuTheoTen", "HangHoa", FormMethod.Get, htmlAttributes: new { @class = "navbar-form",@role = "search" }))
    {
        <div class="input-group">
        <input type="text" name="Ten" class="form-control" placeholder="Search">
        @Html.TextBox("Ten", null, htmlAttributes: new { @class="form-control" ,placeholder="Nhập tên hàng cần tìm"});
        <span class="input-group-btn">

            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

        </span>
    </div>
    }
